@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,700;1,300&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000000;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  margin-left: 2rem;
  margin-right: 2rem;
  transform: translateY(-2rem);
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: #bfe806ff;
  width: 1100px;
  transform: translateY(1rem);
  font-family: "Titillium Web", sans-serif;
  font-style: italic;
}

.header-logo {
  width: 300px;
  height: 300px;
}

.button {
  background-color: white;
  border: 5px solid #555555;
  color: black;
  width: 200px;
  transform: translateY(1rem);
  border-radius: 0.5rem;
  cursor: pointer;
  font-family: "Titillium Web", sans-serif;
}

.button:hover {
  background-color: #bfe806ff;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  transform: translateY(-140px);
}
